{% extends 'base.html.twig' %}

{% block title %}{{ 'register.title'|trans }}{% endblock %}

{% block body %}
<h2>{{ 'register.heading'|trans }}</h2>

{% if message %}
    <p style="color:red">{{ message|raw }}</p>
{% endif %}

<form method="POST">
    {{ 'register.username'|trans }}: <input type="text" name="username" required><br>
    {{ 'register.password'|trans }}: <input type="password" name="password" required><br>
    {% if captchaId is not empty %}
    	<img src="{{ captchaImage }}" alt="captcha"><br>
    	<input type="hidden" name="captcha_id" value="{{ captchaId }}">
    	{{ 'register.enter_captcha'|trans }}: <input type="text" name="captcha_answer" required><br>
    {% endif %}
    <button type="submit">{{ 'register.submit'|trans }}</button>
</form>

{% if mnemonic %}
    <p>{{ 'register.mnemonic_info'|trans }}: {{ mnemonic }}</p>
{% endif %}

<p><a href="{{ path('app_login') }}">{{ 'register.back'|trans }}</a></p>
{% endblock %}

