{% extends 'base.html.twig' %}

{% block title %}{{ 'restore.title'|trans }}{% endblock %}

{% block body %}
<h2>{{ 'restore.heading'|trans }}</h2>

{% if message %}
    <p style="color:red">{{ message|raw }}</p>
{% endif %}

<form method="POST">
    {{ 'restore.username'|trans }}: <input type="text" name="username" required><br>
    {{ 'restore.mnemonic'|trans }}: <input type="text" name="mnemonic"><br>
    {{ 'restore.new_password'|trans }}: <input type="password" name="new_password" required><br>
    {% if captchaId is not empty %}
	    <img src="{{ captchaImage }}" alt="captcha"><br>
	    <input type="hidden" name="captcha_id" value="{{ captchaId }}">
	    {{ 'restore.enter_captcha'|trans }}: <input type="text" name="captcha_answer" required><br>
    {% endif %}
    <button type="submit">{{ 'restore.submit'|trans }}</button>
</form>

<p><a href="{{ path('app_login') }}">{{ 'restore.back'|trans }}</a></p>
{% endblock %}

