{% extends 'base.html.twig' %}

{% block title %}Вход в MFrelance{% endblock %}

{% block body %}

<form method="POST" action="{{ path('app_auth') }}">
    <h2>Вход</h2>
    Username: <input type="text" name="username" required><br>
    Password: <input type="password" name="password" required><br>
    <img src="{{ captchaImage }}" alt="captcha"><br>
    <input type="hidden" name="captcha_id" value="{{ captchaId }}">
    Введите капчу: <input type="text" name="captcha_answer" required><br>
    <button type="submit">Войти</button>

    <div class="links">
        <a href="{{ path('app_restore') }}">Восстановить аккаунт</a>
        <a href="{{ path('app_register') }}">Регистрация</a>
    </div>
    {% if message is defined and message %}
    	<h3 style="color:red">{{ message }}</h3>
    {% endif %}
</form>
{% endblock %}
