<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ projectName }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>
    <header>
        <h1>{% block header %}{{ projectName }}{% endblock %}</h1>
    </header>

    <main>
        {% block body %}{% endblock %}
    </main>

    <footer>
        <p>© {{ "now"|date("Y") }} {{ projectName }}</p>
    </footer>
</body>
</html>
